* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "DM Sans", Arial, sans-serif;

    background: #05070b;

    color: white;
}



.header {
    height: 72px;

    background: #07101c;

    border-bottom: 2px solid #17283c;

    position: sticky;

    top: 0;

    z-index: 1000;

    box-shadow:
        0 5px 25px rgba(0, 0, 0, 0.4);
}


.header-container {
    max-width: 1200px;

    height: 100%;

    margin:auto;

    padding: 0 30px;

    display: flex;

    align-items: center;

    justify-content: space-between;
}




.brand {
    display: flex;

    align-items: center;

    gap: 20px;

    text-decoration:double;
}



.brand-logo {
    width: 40px;

    height: 40px;

    padding: 7px;

    background: white;

    border: 1px solid #2196ff;

    border-radius: 12px;

    transition: 0.2s;
}


.brand-logo img {
    width: 100%;

    height: 100%;

    object-fit:scale-down;
}


.brand:hover .brand-logo {
    transform: scale(1.40);

    box-shadow:
        100 0 100px rgba(33, 150, 255, 0.6);
}


.brand-name h1 {
    font-family: "Playfair Display", serif;

    color: white;

    font-size: 21px;

    font-weight: 800;

    letter-spacing: 2px;

    transition: 0.3s;
}


.brand-name p {
    color: #38bdf8;

    font-size: 8px;

    font-weight: 590;

    letter-spacing: 3px;

    margin-top: 2px;
}


.brand:hover .brand-name h1 {
    color: #38bdf8;

    transform: translateX(10px);
}


.navigation {
    display: flex;

    align-items: center;

    gap: 5px;
}


.nav-link {
    position: relative;

    padding: 10px 15px;

    color: #b8c2cf;

    text-decoration: none;

    font-size: 14px;

    font-weight: 600;

    transition: 0.10s;
}

.nav a:hover {
    background: #00bcd4;
    color: white;
    box-shadow: 0 0 10px #00bcd4;
}


.nav-link:hover {
    color: white;

    transform:translate(5px);
}




.nav-link::after {
    content: "";

    position: absolute;

    left: 50%;

    bottom: 3px;

    width: 0;

    height: 2px;

    background: #38bdf8;

    transform: translateX(-50%);

    transition: 0.3s;
}


.nav-link:hover::after {
    width: 22px;
}



.nav-link.active {
    color: white;
}


.nav-link.active::after {
    width: 22px;
}


.book-now {
    margin-left: 15px;

    padding: 11px 19px;

    display: flex;

    align-items: center;

    gap: 8px;

    background: linear-gradient(
        90deg,
        #1264ed,
        #18b8f5
    );

    color: white;

    text-decoration: none;

    font-size: 14px;

    font-weight: 600;

    border-radius: 50px;

    transition: 0.3s;
}


.book-now span {
    font-size: 14px;

    transition: 0.3s;
}


.book-now:hover {
    transform:translateX(15px);

    box-shadow:
        0 8px 25px rgba(0, 140, 255, 0.4);
}


.book-now:hover span {
    transform: translateX(8px);
}




.hero {
    min-height:38px;

    display: flex;

    align-items: center;

    background:

        radial-gradient(
            circle at 80% 50%,
            rgba(0, 140, 255, 0.12),
            transparent 35%
        ),

        #05070b;
}


.hero-container {
    width: min(1200px, 92%);

    margin: auto;

    padding: 30px 0;

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 70px;
}


/* ================= HERO CONTENT ================= */

.hero-content {
    width: 50%;
}


.welcome {
    color: #38bdf8;

    font-size: 10px;

    font-weight: 600;

    letter-spacing: 2px;

    margin-bottom: 20px;
}


.hero-content h2 {
    font-family: "Playfair Display", serif;

    font-size: 55px;

    font-weight: 600;

    line-height: 1.15;

    margin-bottom: 20px;

     animation: heroText 2.5s ease-out both;
     
}


.hero-content h2 span {
    display: block;

    color: #38bdf8;

    font-style: italic;

    animation: eventText 3s ease-out 0.4s both;
}

/*@keyframes heroText {
    from {
        opacity: 0;
        transform: translateY(30px);
        filter: blur(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}*/

@keyframes heroText {
    0% {
        opacity: 0;
        transform: translateY(35px);
        filter: blur(8px);
    }

    60% {
        opacity: 0.8;
        transform: translateY(8px);
        filter: blur(2px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

@keyframes eventText {
    0% {
        opacity: 0;
        transform: translateY(35px);
        filter: blur(8px);
    }

    60% {
        opacity: 0.85;
        transform: translateY(8px);
        filter: blur(2px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}


.description {
    max-width: 520px;

    color:white;

    font-size: 14px;

   font-weight: 600;

    line-height: 2;

    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;

    align-items: center;

    gap: 15px;
}


.primary-button {
    padding: 13px 17px;

    display: flex;

    align-items: center;

    gap: 12px;

    background: linear-gradient(
        90deg,
        #1264ed,
        #18b8f5
    );

    color: white;

    text-decoration: none;

    font-size: 12px;

    font-weight: 600;

    border-radius: 25px;

    transition: 0.3s;
}


.primary-button span {
    font-size: 17px;

    transition: 0.3s;
}


.primary-button:hover {
    transform:translateX(12px);

    box-shadow:
        0 10px 25px rgba(0, 140, 255, 0.4);
}


.primary-button:hover span {
    transform: translateX(4px);
}

.secondary-button {
    padding: 12px 20px;

    color: #c5ced9;

    text-decoration: none;

    font-size: 13px;

    border: 1px solid #26384c;

    border-radius: 25px;

    transition: 0.3s;
}


.secondary-button:hover {
    color: white;

    border-color: #38bdf8;

    transform:translateX(13px);
}


.event-details {
    display: flex;

    gap: 45px;

    margin-top: 45px;
}


.detail h3 {
    font-size: 21px;

    color: white;

    margin-bottom: 4px;
}

/* Hover / touch */
.detail:hover h3 {
    animation: numberAnimation 0.8s ease-out;
}

@keyframes numberAnimation {

    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 0.7;
        transform: scale(1.15);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}

.detail p {
    color: #718096;

    font-size: 10px;

    letter-spacing: 0.5px;
}

.hero-image {
    width: 50%;
    height: 390px;

    position: relative;

    overflow: hidden;

    border-radius: 25px;

    cursor: pointer;
}

.hero-image input {
    display: none;
}


.slide {
    position: absolute;

    inset: 0;

    display: none;
}


.slide img {
    width: 100%;

    height: 390px;

    object-fit: cover;

    border-radius: 25px;

    border: 1px solid #263b52;

    box-shadow:
        0 20px 50px rgba(0, 0, 0, 0.5);

    transition: 0.4s ease;
}


/* IMAGE 1 */

#slide1:checked ~ .slide1 {
    display: block;
}


/* IMAGE 2 */

#slide2:checked ~ .slide2 {
    display: block;
}


/* IMAGE 3 */

#slide3:checked ~ .slide3 {
    display: block;
}

#slide4:checked ~ .slide4 {
    display: block;
}

#slide5:checked ~ .slide5 {
    display: block;
}


/* HOVER ZOOM */

.slide:hover img {
    transform: scale(1.03);
}



.hero-image img {
    width: 100%;

    height: 390px;
  padding: 0 12;
    object-fit: cover;

    border-radius: 25px;

    border: 1px solid #263b52;

    box-shadow:
        0 20px 50px rgba(0, 0, 0, 0.5);

    transition: 0.1s;
}


.hero-image img:hover {
    transform: scale(1.03);

    box-shadow:
        0 20px 50px rgba(0, 140, 255, 0.25);
}

@media (max-width: 800px) {

    .header {
        height: auto;

        padding: 15px 0;
    }


    .header-container {
        flex-direction: column;

        gap: 15px;
    }


    .navigation {
        flex-wrap: wrap;

        justify-content: center;
    }


    .hero {
        min-height: auto;
    }


    .hero-container {
        flex-direction: column;

        padding: 50px 0;

        text-align: center;
    }


    .hero-content {
        width: 100%;
    }


    .hero-content h2 {
        font-size: 42px;
    }


    .description {
        margin-left: auto;

        margin-right: auto;
    }


    .hero-buttons {
        justify-content: center;
    }


    .event-details {
        justify-content: center;
    }


    .hero-image {
        width: 100%;
    }


    .hero-image img {
        height: 350px;
    }

}


/* ================= SMALL MOBILE ================= */

@media (max-width: 500px) {

    .header-container {
        padding: 0 15px;
    }


    .navigation {
        gap: 0;
    }


    .nav-link {
        padding: 8px;
    }


    .book-now {
        margin-left: 5px;

        padding: 9px 13px;
    }


    .hero-content h2 {
        font-size: 36px;
    }


    .hero-buttons {
        flex-direction: column;
    }


    .event-details {
        gap: 25px;
    }


    .hero-image img {
        height: 280px;
    }

} 